<!DOCTYPE html>
<html>
<head>
  <title>Your Journal App</title>
  <!-- Add your stylesheets and other head content here -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_include_tag 'application' %>

</head>
<body>

<header>
  <h1>Your Journal App</h1>
</header>

<nav>
  <% if logged_in? %>
    <%= link_to 'Dashboard', root_path %>
    <%= button_to 'Logout', logout_path, method: :delete %>
  <% else %>
    <%= link_to 'Login', login_path %>
    <%= link_to 'Sign Up', signup_path %>
  <% end %>
</nav>



<main>
  <%= yield %>
</main>

<footer>
  <p>&copy; <%= Time.now.year %> Your Journal App. All rights reserved.</p>
</footer>

</body>
</html>
